body{
    padding: 0;
    margin: 0;
}
.wrap{
    width: 85%;
    margin: 0 auto;
}
.wrap_25{
    width: 25%;
    margin: 0 auto;
    display: flex;
}
.wrap_740{
    width: 64.91228070175439%;
    margin: 0 auto;
}
                                 /*header*/
.top_header{
    display: block;
    float: left;
    width: 100%;
    height: 10%;
    padding: 3px 0;
    background-color: #10151B;
    font-family: 'Arial', sans-serif;
}
.top_header_left{
    display: block;
    float: left;
    width: 50%;
}
.logo{
    display: block;
    float: left;
    text-decoration: none;
    font-size: 1.3em;
    letter-spacing: 2px;
    font-weight: 900;
    margin-top: 5px;
    color: white;
    text-transform: uppercase;

}
.logo:hover{
    color: #88a8ff;
}
.for_logo{
    display: block;
    float: left;
    text-decoration: none;
    font-size: 1.3em;
    letter-spacing: 2px;
    font-weight: 900;
    margin-top: 5px;
    color: white;
    text-transform: uppercase;
}
.for_logo:hover{
    color: #88a8ff;
}
.twitter{
    display: block;
    float: left;
    margin-top: 3px;
    margin-right: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 1.5625em;
    width: 25px;
    height: 25px;
}
.vk{
    display: block;
    float: left;
    margin-top: 3px;
    margin-right: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 1.5625em;
    width: 25px;
    height: 25px;
}
.facebook{
    display: block;
    float: left;
    margin-top: 3px;
    margin-right: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 1.5625em;
    width: 25px;
    height: 25px;
}
.top_header_right{
    display: block;
    float: left;
    width: 50%;
}
.button{
    display: block;
    float: right;
    text-align: center;
    width: 5%;
    height: 35px;
    font-size: 25px;
    margin: 2px 0 0 10px;
    cursor: pointer;
    color: #ffffff;
}
.button:hover{
    color: #88a8ff;
}
.button:checked .search{
    display: block;
}
.search{
    display: block;
    float: right;
    text-align: center;
    width: 85%;
    height: 20px;
    margin-top: 5px;
}
                                   /*bottom_header*/
.bottom_header{
    width: 100%;
    background-color: white;
    font-family: 'Arial', sans-serif;
}
.menu{
    display: block;
    float: left;
    width: 100%;
    margin-top: 22px;
    padding: 0;
}
.menu li{
    display: block;
    float: left;
    padding: 5px 0 5px 0;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    font-weight:600;
    letter-spacing:2px;
    font-size:0.6875em;
    position: relative;
}
.menu li::before{
    position: absolute;
    display: block;
    content: '';
    height: 25px;
    width: 1px;
    background-color: #cccccc;
    left: 0;
    bottom: 0;
}
.menu:last-child{
    position: relative;
}
.menu:last-child::after{
    position: absolute;
    display: block;
    content: '';
    height: 25px;
    width: 1px;
    background-color: #cccccc;
    right: 0;
    bottom: 0;
}
.menu_1{
    text-decoration: none;
    color: #40444E;
    margin-left: 10px;
}
.menu_1:hover{
    color: #88a8ff;
}
                             /*containt*/
.section_1{
    width: 100%;
    margin: 0 auto;
}
.name{
    display: block;
    float: left;
    width: 100%;
    height: 160px;
    border: 1px solid #CCCCCC;
    text-align: center;
    margin-top: 60px;
    color: #121A24;
    font-size: 0.9375em;
    padding-top: 20px;
    position: relative;
}
.name::before{
    display: inline-block;
    content: '';
    position: absolute;
    left: -5px;
    top: -5px;
    width: 9px;
    height: 9px;
    background-color: black;
}
h1::before{
    display: inline-block;
    content: '';
    position: absolute;
    right: -5px;
    top: -5px;
    width: 9px;
    height: 9px;
    background-color: black;
}
.name::after{
    display: inline-block;
    content: '';
    position: absolute;
    right: -5px;
    bottom: -5px;
    width: 9px;
    height: 9px;
    background-color: #000000;
}
h1::after{
    display: inline-block;
    content: '';
    position: absolute;
    left: -5px;
    bottom: -5px;
    width: 9px;
    height: 9px;
    background-color: #000000;
}
.name h1{
    display: block;
    margin-bottom: 5px;
}
.name .logo_1{
    text-decoration: none;
    text-transform: uppercase;
    color: #FFCF22;
    font-family: 'Arial', sans-serif;
    font-weight: 900;
    font-size:0.6875em;
    cursor: pointer;
}
.logo_1:hover{
    border-bottom:2px solid #FFCF22;
    padding-bottom: 3px;
}
.section_2{
    width: 100%;
    margin: 0 auto;
}
.content{
    display: block;
    float: left;
    padding: 0;
    margin-top: 60px;
    width: 100%;
}
.content li{
    list-style-type: none;
    display: block;
    float: left;
    text-align: center;
}
.content li:last-child{
    margin: 0;
}
.yellow_line{
    display: block;
    float: left;
    width: 90%;
    height: 10px;
    padding: 15px 0;
    margin-bottom: 20px;
    background-color: #FFCF22;
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight:900;
    letter-spacing:2px;
    font-size:0.6875em;
    color: #40444E;
    cursor: pointer;
}
.yellow_line:hover{
    background-color: #c3991e;
    color: #fafff8;
}
.content .discipline{
    text-decoration: none;
    font-size: 1.5em;
    color: #121A24;
    font-weight: bold;
}
.discipline:hover{
    color: #88a8ff;
}
.content p{
    font-weight:normal;
    font-family: 'Arial', sans-serif;
    width: 95%;
}
.content span{
    display: block;
    font-weight:900;
    font-size:0.6875em;
    color: #8F90B4;
    margin-top: 20px;
}
                                /*section*/
section{
    display: block;
    float: left;
    width: 100%;
    background-color: #F5F6F6;
    margin-top: 40px;
    padding-top: 30px;
}
section h1{
    display: block;
    margin: 30px;
    font-family: 'Arial', sans-serif;
    text-align: center;
    color: #000000;
    font-weight:900;
}
.block_1{
    margin-bottom: 15px;
    padding: 30px 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.anchor_1{
    width: 100%;
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight:900;
    letter-spacing:2px;
    font-size:0.6875em;
    color: #E5393B;
    cursor: pointer;
}
.anchor_1:hover{
    border-bottom:2px solid #E5393B;
    padding-bottom: 3px;
}
.block_1_1{
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    font-size:1.75em;
    color: #121A24;
    font-weight:bold;
}
.block_1_1:hover{
    color: #8F90B4;
}
.block_1_2{
    margin-top: 10px;
    font-family: 'Arial', sans-serif;
}
.block_1_3{
    display: block;
    margin-top: 30px;
    padding-top: 15px;
    font-family: 'Arial', sans-serif;
    font-weight:900;
    font-size:0.6875em;
    color: #8F90B4;
    border-top: 1px solid rgba(143, 144, 180, 0.36);
}
.anchor_2{
    width: 100%;
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight:900;
    letter-spacing:2px;
    font-size:0.6875em;
    color: #0BABEA;
    cursor: pointer;
}
.anchor_2:hover{
    border-bottom:2px solid #0BABEA;
    padding-bottom: 3px;
}
.anchor_3{
    width: 100%;
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight:900;
    letter-spacing:2px;
    font-size:0.6875em;
    color: #FB8C00;
    cursor: pointer;
}
.anchor_3:hover{
    border-bottom:2px solid #FB8C00;
    padding-bottom: 3px;
}
.anchor_4{
    width: 100%;
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight:900;
    letter-spacing:2px;
    font-size:0.6875em;
    color: #3949AB;
    cursor: pointer;
}
.anchor_4:hover{
    border-bottom:2px solid #3949AB;
    padding-bottom: 3px;
}
.button_2{
    display: block;
    width: 190px;
    height: 15px;
    margin: 35px 250px 60px 250px;
    padding: 14px;
    color: #ffffff;
    background-color: #303340;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
    font-weight: 900;
    font-size:0.6875em;
    cursor: pointer;
}
.button_2:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
                                    /*footer*/
footer .top_footer{
    display: block;
    float: left;
    width: 100%;
    height: 30px;
    padding: 7px 0;
    background-color: #10151B;
    text-align: center;
}
footer .logo_2{
    color: white;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    font-size: 1.3em;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.logo_2 span{
    font-weight: 900;
}
.logo_2:hover{
    color: #88a8ff;
}
.menu_1_2{
    display: block;
    float: left;
    width: 100%;
    background-color: #303340;
    padding: 20px 0;
}
.menu_2{
    display: block;
    float: left;
    width: 100%;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
li{
    display:block;
    float: left;
    text-align: center;
    position: relative;
}
li::before{
    display: inline-block;
    content: '';
    position: absolute;
    width: 1px;
    height: 25px;
    background-color: #C5C8C9;
    left:0;
    bottom: 0;
}
.menu_2:last-child{
    position: relative;
}
.menu_2:last-child::after{
    position: absolute;
    display: block;
    content: '';
    height: 25px;
    width: 1px;
    background-color: #C5C8C9;
    right: 0;
    bottom: 0;
}
.menu_2_1{
    text-transform: uppercase;
    text-decoration: none;
    color: #C5C8C9;
    font-weight:900;
    letter-spacing:2px;
    font-size: 0.6875em;
}
.menu_2_1:hover{
    color: #88a8ff;
}
.bottom_footer{
    display: block;
    float: left;
    padding: 30px 0;
    width: 100%;
    background-color: #10151B;
}
.social{
    display: block;
    float: left;
    padding: 0 514px;
    text-align: center;
}
#project{
    display: block;
    float: left;
    margin: 20px 0 0 22px;
    color: #C5C8C9;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight:900;
    letter-spacing:2px;
    font-size:0.6875em;
}
@media(max-width: 690px){
    .logo{
        display: block;
        float: left;
        margin-right: 25px;
        position: relative;
    }
    .logo::after{
        display: block;
        float: left;
        content: '';
        position: absolute;
        width: 2px;
        height: 25px;
        background-color: #fff;
        right:-15px;
        top: 0;
    }
    .for_logo{
        display: none;
    }
    .wrap_25{
        width: 50%;
        margin-bottom: 10px;
    }
    .menu:last-child::after{
        display: none;
    }
}


