body{
    margin: 0;
    padding: 0;
    background-color: #8bff1e;
}
#add_form{
    background-color: rgba(133, 255, 123, 0.5);
    width: 270px;
    height: 300px;
    padding: 100px 0 0 50px;
    margin: 70px auto auto 500px;
    border: 2px solid grey;
    border-radius:0 0 8px 8px;
    box-shadow: 0 0 30px rgba(0,0,0,1);
}
input{
    width: 200px;
    height: 20px;
    margin: 0 0 10px 10px;
}