@font-face {
    font-family: 'ArialNarrow';
    src: url('../fonts/ArialNarrow.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ArialNarrow.woff') format('woff'),
    url('../fonts/ArialNarrow.ttf') format('truetype'),
    url('../fonts/ArialNarrow.svg#ArialNarrow') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    margin: 0;
    padding: 0;
    }
.wrapper_top_header{
    width: 980px;
    margin: 0 auto;
}
.wrapper_bottom_header{
    width: 100%;
    margin: 0 auto;
}
.wrapper{
    width: 1366px;
    margin: 0 auto;
}
.wrapper_footer{
    width: 965px;
    margin: 0 auto;
}
header .block_1{
    display: inline-block;
    float: left;
    width: 100%;
    background: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'ArialNarrow', sans-serif;
}
.block_1_1{
    display: inline-block;
    float: left;
}
.block_1_2{
    width: 30%;
    display: block;
    float: left;
    padding-top: 10px;
    margin-left: 60px;
}
.technical{
    display: block;
    float: left;
    background: url("../image/technical-support.png") center no-repeat;
    border: 2px solid #6AAC3A;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-right: 20px;
}
.technical:hover{
    background: url("../image/technical-support1.png") center no-repeat;
}
.tel_1{
    display: block;
    float: left;
    color: #535353;
    font-size: 21px;
    text-decoration: none;
    margin-left: 15px;
}
.tel_1:hover{
    color: #6AAC3A;
    transition-duration: 0.3s;
}
.tel_2{
    display: inline-block;
    float: left;
    text-decoration: none;
    color: #535353;
    font-size: 21px;
    margin-left: 5px;
}
.tel_2:hover{
    color: #6AAC3A;
    transition-duration: 0.3s;
}
.button{
    display: block;
    float: left;
    width: 210px;
    height: 30px;
    margin-top: 10px;
    padding-top: 12px;
    text-transform: uppercase;
    font-size: 16px;
    color: #6AAC3A;
    border:2px solid #6AAC3A;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
}
.button:hover{
    color: #ffffff;
    background: #6AAC3A;
}
.block_1_4{
    display: block;
    float: left;
    margin: 0 auto;
    padding: 12px 0 0 60px;
}
.lang{
    display: inline-block;
    float: left;
    text-align: center;
    margin: 7px auto auto auto;
    text-decoration: none;
    color: #535353;
    text-transform: uppercase;
    font-size: 17px;
    position: relative;
}
.flag{
    display: block;
    float: left;
    margin-left: 3px;
}
.lang p{
    display: block;
    float: left;
    color: #535353;
    margin: 5px 8px;
    text-transform: uppercase;
}
.arrow{
    display: block;
    float: left;
    cursor: pointer;
    margin: 12px 0 0 6px;
    position: relative;
}
.arrow:checked .lang_list{
    display:block;
}
.block_1_5{
    display: block;
    float: right;
}
.lang_list{
    background: #ffffff;
    width: 130px;
    height: 130px;
    display: block;
    float: left;
    padding: 0;
    list-style-type: none;
    border: 2px solid #6AAC3A;
    border-radius: 15%;
    margin-top: 10px;
    position: absolute;
    right: -12px;
    top: 30px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.lang:hover .lang_list{
    visibility: visible;
    opacity: 1;
}

.lang_list p{
    display: block;
    float: left;
    color: #535353;
    margin: 5px 8px;
    text-transform: uppercase;
}
.lang_list p:hover{
    color:#6AAC3A;
}
.lang_eng{
    display:block;
    float:left;
    margin: 18px 0 0 25px;
}
#eng{
    display:block;
    float: left;
}
.lang_chi{
    display:block;
    float:left;
    margin: 18px 0 0 25px;
}
#chi{
    display:block;
    float:left;
}
.block_2{
    background: #2d3345;
    width: 100%;
    height: 50px;
    font-family: "ArialNarrow", sans-serif;
    display: inline-block;
    float: left;
    font-size: 18px;
}
.allhostels{
    display:block;
    float: left;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    width: 50%;
    margin-top: 12px;
}
.allhostels:hover{
    color: #6AAC3A;
    transition-duration: 0.3s;
}
.menu{
    display: inline-block;
    float:left;
    margin: 0;
    padding: 0;
    width: 50%;
}
.menu li{
    display: inline-block;
    float: left;
    margin-top: 10px;
    margin-right: 30px;
    position: relative;
}
.menu li:hover .dropdown{
    display: block;
}
.menu li a{
    color: #ffffff;
    text-decoration: none;
    margin-right: 2px;
}
.menu li a:hover{
    color: #6AAC3A;
    transition-duration: 0.3s;
}
.menu li .dropdown{
    display: none;
    position: absolute;
    top: 100%;
    width: 190px;
    padding: 10px;
    background: #2D3345;
}
.block_3_1{
    display: block;
    background: url("../image/fon.png") no-repeat center;
    width: 100%;
    height: 788px;
    float:left;
    text-align: center;
    font-family: "ArialNarrow", sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    color: #ffffff;
    cursor:pointer;
}
.line_1{
    margin-top: 440px;
}
h3 span{
    color: #6AAC3A;
}
.block_4{
    display: inline-block;
    float: left;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: "ArialNarrow", sans-serif;
    font-size: 31px;
    margin-top: 30px;
}
.block_4 p{
    display: block;
    margin-top: 42px;
}
.block_4 img{
    display: block;
    margin: -15px 0 0 310px;
}
.block_5{
    display: block;
    margin: 0 auto;
    width: 1366px;
    position: relative;
}
.block_5_1{
    display: block;
    float:left;
    width: 360px;
    height: 570px;
}
.portfolio{
    display:block;
    float:left;
    margin: 50px 0 0 75px;
}
.block_5_2{
    display: block;
    float: left;
    width: 600px;
    margin: 0 auto;
    font-family: "ArialNarrow", sans-serif;
}
.block_5_2_1{
    display: block;
    float:left;
    width: 395px;
}
.hostel{
    margin: 38px 0 0 5px;
    font-size: 28px
}
.hostel span{
    color: #6AAC3A;
}
.map{
    display: block;
    float:left;
    margin: 5px 3px 0 0;
}
.address{
    display:block;
    float:left;
    margin: 7px 15px 0 5px;
    font-size: 18px;
    color: #848484;
}
.arrow2{
    display: block;
    float:left;
    margin: 16px 0 0 -7px;
    cursor:pointer;
}
.block_5_2_2{
    display:block;
    float:left;
    width: 205px;
    margin-top: 37px;
}
.tel{
    display: block;
    float:left;
    margin: 8px 0 0 30px;
}
.tel_3{
    display:block;
    float:left;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-size: 21px;
    margin: 7px 0 0 2px;
}
.tel_3:hover{
    color: #6AAC3A;
    transition-duration: 0.3s;
}
.train{
    display:block;
    float:left;
    margin: 14px 0 0 -168px;
}
.metro{
    display:block;
    float:left;
    font-size: 17px;
    color: #848484;
    margin: 8px 0 0 60px;
}
.block_5_2_3{
    display:block;
    float:left;
    width: 585px;
    border-top: 1px solid #e8e8e8;
    margin-top: 15px;
}
.info{
    display:block;
    float:left;
    margin: 25px 0 0 10px;
    font-size: 17px;
    line-height: 24px;
}
.line_3{
    display:block;
    float:left;
    width: 350px;
    border:none;
    background: #e8e8e8;
    height: 1px;
    margin: 50px 20px 0 0;
}
.button_2{
    display:block;
    float:left;
    width:203px;
    height:29px;
    margin: 27px 0 0 6px;
    padding-top: 10px;
    background: #6AAC3A;
    border: 2px solid transparent;
    border-radius: 2px;
    text-decoration: none;
    color: #ffffff;
    font-size:16px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.3s;
}
.button_2:hover{
    background: #ffffff;
    border: 2px solid #6AAC3A;
    border-radius: 2px;
    color: #6AAC3A;
}
.numbers{
    display:inline-block;
    float:left;
    width: 100%;
    font-size: 24px;
    margin: 7px 0 10px 0;
}
.block_5_3{
    display: block;
    float: left;
    width: 585px;
    margin: 0 auto;
    font-family: "ArialNarrow", sans-serif;
}
.block_5_3_1{
    display:inline-block;
    float:left;
    width: 50%;
    height: 60px;
    line-height: 1px;
}
.number_image{
    display: block;
    float: left;
    margin: 0 15px 0 -33px;
}
.dnumber{
    display:block;
    float:left;
    font-size:17px;
    margin: 20px 0 0 0 ;
}
.bed{
    display: block;
    float: left;
    margin: 17px 0 0 65px;
}
.one_number{
    display: inline-block;
    float: left;
    margin: 12px 0 0 0;
    color: #848484;
}
.prise{
    display: block;
    float: left;
    margin: 13px 0 0 43px;
    color: rgba(196, 0, 18, 1);
}
.block_5_3_2{
    display:inline-block;
    float:left;
    width: 50%;
    height: 60px;
    line-height: 1px;
    margin: 0;
}
.number_image_2 {
    display: block;
    float: left;
    margin: 7px 10px 0 10px;
}
.mnumber{
    display:block;
    float:left;
    font-size:17px;
    margin: 18px 85px 0 0 ;
}
.men{
    display: block;
    float: right;
    margin: 7px 0 0 56px;
}
.two_number{
    display: inline-block;
    float: left;
    margin-top: 25px;
    color: #848484;
}
.prise_2{
    display: block;
    float: left;
    margin: 12px 0 0 44px;
    color: rgba(196, 0, 18, 1);
}
.line_4{
    display:block;
    float:left;
    width: 100%;
    border:none;
    background: #e8e8e8;
    height: 1px;
    margin-top: 16px;
}
.block_5_3_3{
    display:inline-block;
    float:left;
    width: 50%;
    height: 60px;
    line-height: 1px;
}
.number_image_3 {
    display: block;
    float: left;
    margin: 7px 15px 0 3px;
}
.wnumber{
    display:block;
    float:left;
    font-size:17px;
    margin: 18px 120px 0 0 ;
}
.woman{
    display: block;
    float: left;
    margin: 8px 0 0 0;
}
.two_number_2{
    display: inline-block;
    float: left;
    margin-top: 12px;
    color: #848484;
}
.prise_3{
    display: block;
    float: left;
    margin: 12px 0 0 25px;
    color: rgba(196, 0, 18, 1);
}
.block_5_3_4{
    display:inline-block;
    float:left;
    width: 50%;
    height: 60px;
    line-height: 1px;
}
.number_image_4 {
    display: block;
    float: left;
    margin: 7px 18px 0 8px;
}
.allnumber{
    display:block;
    float:left;
    font-size:17px;
    margin: 18px 136px 0 0 ;
}
.all{
    display: block;
    float: left;
    margin: 8px 0 0 0;
}
.two_number_3{
    display: inline-block;
    float: left;
    margin-top: 12px;
    color: #848484;
}
.prise_4{
    display: block;
    float: left;
    margin: 12px 0 0 42px;
    color: rgba(196, 0, 18, 1);
}
.line_5 {
    display: block;
    float: left;
    width: 100%;
    border: none;
    background: #e8e8e8;
    height: 1px;
    margin-top: 10px;
}
.block_5_3_5{
    display:block;
    float:left;
    width: 100%;
    margin: 0 auto;
}
.clock{
    display:block;
    float:left;
    margin: 18px 0 0 10px;
}
.reserved{
    display:block;
    float:left;
    margin: 18px 0 0 7px;
    color: #848484;
}
.button_3{
    display:block;
    float:left;
    width:203px;
    height:29px;
    margin: 7px 0 0 170px;
    padding-top: 10px;
    background: #ffffff;
    border: 2px solid #6AAC3A;
    border-radius: 2px;
    text-decoration: none;
    color: #6AAC3A;
    font-size:13px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.3s;
}
.button_3:hover{
    background: #6AAC3A;
    border: 2px solid transparent;
    border-radius: 2px;
    color: #ffffff;
}
.block_5_4{
    display:block;
    float:right;
    width: 406px;
    position:absolute;
    top: 1103px;
    right: -46px;
    font-family: "ArialNarrow", sans-serif;
}
.block_5_4_1{
    display:block;
    float:left;
}
.stars{
    display: block;
    float: left;
}
.rating{
    font-size: 48px;
    margin: 15px 0 0 0;
}
.reviews{
    display: block;
    float: left;
    margin: 5px 0 0 0;
    color: #848484;
    text-decoration: none;
    border-bottom: 1px dashed #848484;
}
.block_5_4_2{
    display:block;
    float:left;
    width: 200px;
    position: absolute;
    top: 100px;
    right: 205px;
}
.nearby{
    display: block;
    float: left;
    color:#6AAC3A;
    font-size: 23px;
    margin-top: 41px;
}
.signpost{
    display:block;
    float:left;
    margin: 42px 0 0 10px;
}
.block_5_4_3{
    display:block;
    float:left;
    width: 255px;
    position: absolute;
    top: 178px;
    right: 150px;
}
.list{
    display:block;
    float:left;
    margin: 0;
    color: #919191;
    line-height: 34px;

}
.list span{
    display: block;
    float:right;
    width: 35px;
    height: 15px;
    text-align:center;
    margin-left: 17px;
    padding-bottom: 10px;
    border: 1px solid #e8e8e8;
}
.line_6{
    display:block;
    float:left;
    width: 1165px;
    border:none;
    background: #e8e8e8;
    height: 1px;
    margin: 35px 0 20px 80px;
}
.block_6{
    display: block;
    margin: 0 auto;
    width: 1366px;
    position: relative;
}
.block_6_1 {
    display: block;
    float: left;
    width: 360px;
    height: 570px;
}
.block_6_2{
    display: block;
    float: left;
    width: 600px;
    margin: 0 auto;
    font-family: "ArialNarrow", sans-serif;
}
.block_6_2_1{
    display: block;
    float:left;
    width: 395px;
}
.block_6_2_2{
    display:block;
    float:left;
    width: 205px;
    margin-top: 37px;
}
.block_6_2_3{
    display:block;
    float:left;
    width: 585px;
    border-top: 1px solid #e8e8e8;
    margin-top: 15px;
}
.block_6_3{
    display: block;
    float: left;
    width: 585px;
    margin: 0 auto;
    font-family: "ArialNarrow", sans-serif;
}
.block_6_4{
    display:block;
    float:right;
    width: 406px;
    position:absolute;
    top: 1103px;
    right: -46px;
    font-family: "ArialNarrow", sans-serif;
}
.block_6_4_1{
    display:block;
    float:left;
    position: absolute;
    top: 652px;
    right: 267px;
}
.block_6_4_2{
    display:block;
    float:left;
    width: 200px;
    position: absolute;
    top: 660px;
    right: 205px;
}
.block_6_4_3{
    display:block;
    float:left;
    width: 255px;
    position: absolute;
    top: 730px;
    right: 150px;
}
.block_6_4_3 span{
    font-size: 13px;
}
.block_6_5{
    display: inline-block;
    float: left;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: "ArialNarrow", sans-serif;
    font-size: 31px;
    margin-top: 40px;
}
.block_6_6 {
    display: inline-block;
    float: left;
    margin-top: 45px;
}
.block_7{
    display:block;
    float:left;
    background: #2d3345;
    width: 100%;
    height: 330px;
    margin-top: -5px;
    font-family: "ArialNarrow", sans-serif;
}
.block_7_1{
    display:block;
    float:left;
    width: 25%;
    text-align:left;
    padding-top: 50px;
}
.footer_1{
    display:block;
    float:left;
    font-size: 20px;
    text-decoration:none;
    color:#6AAC3A;
    border-bottom: 1px solid #919191;
    margin: 0 20px 5px 20px;
    line-height: 40px;
}
.block_7_1 ul{
    display:block;
    float:left;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 30px;
}
.block_7_1 ul li{
    color: #ffffff;
    list-style-type: none;
}
.block_7_2{
    display:block;
    float:left;
    width: 25%;
    text-align:center;
    padding-top: 50px;
}
.footer_2{
    display:block;
    float:left;
    font-size: 20px;
    text-decoration:none;
    color:#6AAC3A;
    border-bottom: 1px solid #919191;
    margin: 0 20px 5px 40px;
    line-height: 40px;
}
.block_7_2 ul{
     display:block;
     float:left;
     margin: 0;
    font-size: 18px;
     line-height: 30px;
    list-style-type: none;
    color: #ffffff;
    padding-left: 70px;
}
.block_7_3{
    display:block;
    float:left;
    width: 25%;
    text-align:center;
    padding-top: 50px;
}
.footer_3{
    display:block;
    float:left;
    font-size: 20px;
    text-decoration:none;
    color:#6AAC3A;
    border-bottom: 1px solid #919191;
    margin: 0 20px 5px 40px;
    line-height: 40px;
}
.block_7_4{
    display:block;
    float:left;
    width: 25%;
    text-align:right;
    padding-top: 50px;
}
.footer_4{
    display:block;
    float:left;
    font-size: 20px;
    text-decoration:none;
    color:#6AAC3A;
    border-bottom: 1px solid #919191;
    margin: 0 20px 5px 100px;
    line-height: 40px;
}
.block_7_4 ul{
    display:block;
    float:left;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 30px;
}
.block_7_4 ul li{
    color: #ffffff;
    list-style-type: none;
}
.tel_1_1{
    font-size: 18px;
    color: #ffffff;
    text-decoration:none;
}
.tel_1_1:hover{
    color:#6AAC3A;
    transition-duration: 0.3s;
}
.email{
    font-size: 18px;
    color: #ffffff;
    text-decoration:none;
}
.email:hover{
    color:#6AAC3A;
    transition-duration: 0.3s;
}
.block_8{
    display:block;
    float:left;
    width: 100%;
    height: 60px;
    background: #252b3b;
    color: #ffffff;
    font-family: "ArialNarrow", sans-serif;
}
.footer_end_1{
    display:inline-block;
    float:left;
    width: 50%;
    text-transform:uppercase;
    margin-top: 20px;
}
.footer_end_2{
    display:inline-block;
    float:left;
    width: 50%;
}
.we_are{
    display:block;
    float:left;
    margin: 21px 12px 0 120px;
}
.soc{
    display:block;
    float:left;
    margin: 12px 0 0 10px;
}




