/* Config */
body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper{
    width: 960px;
    margin: 0 auto;
}

.block{
    float: left;
}

.block-50{
    width: 50%;
}

.block-33{
    width: 33.33%;
}

.block-25{
    width: 25%;
}

/* All styles */
header{
    width: 100%;
    float: left;
    padding: 0 0 10px;
    background: #f3f3f3;
}

header .block.block-50 ul li{
    display: inline-block;
}

header .block.block-50 ul li::after{
    content: '•';
    display: inline-block;
    margin: 0 5px;
    color: firebrick;
}

header .block.block-50 ul li:last-child::after{
    display: none;
}


.content{
    width: 100%;
    float: left;
}

.content .block.block-25{
    text-align: center;
}
